<footer>
    <img src="/images/logo.svg" alt="s.a.n.d logo"  id='logo'>
    <p class='copyright'>&copy; S.A.N.D Copyright.</p>
    <a href="/terms">Terms And Conditions.</a> 
    <a href="/privacy">Privacy Policy</a>
    </p>
    <div class="social">

        <a href="facebook"><img src="/images/facebook.png" alt="facebook logo"></a> 
        <a href="twitter"><img src="/images/twitter.png" alt="twitter logo"></a> 
        <a href="instagram"><img src="/images/instagram.png" alt="instagram logo"></a>
    </div>
</footer>
