<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/navbar_min.css' />
    <link rel='stylesheet' href='/stylesheets/discover.css' />
    <link rel='stylesheet' href='/stylesheets/follow.css' />
    <link rel='stylesheet' href='/stylesheets/friendlist.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/aside.css' />
    <link rel='stylesheet' href='/stylesheets/login_signup.css'  />
    <link rel='stylesheet' href='/stylesheets/rooms.css'  />
    <link rel='stylesheet' href='/stylesheets/profile.css'  />
    <link rel='stylesheet' href='stylesheets/settings.css'  />
    <link rel='stylesheet' href='stylesheets/notif_list.css'  />
    <link rel='stylesheet' href='stylesheets/single_room.css'  />
</head>