<section id="dashboard">

    <section id="welcome">
        <h1> Welcome to S.A.N.D! </h1>
  
    </section>
  
    <section class="dash_sec" id="about">
        <h2>About</h2>
        <p> Hello human, welcome to our awesome website! :) 
            This is a webapplication designed to help you discover the latest and more trendy NFT's and track the ones you desire. What is an NFT? Well it is a non-fungible-token that can be bought or sold online and make you some good profit. Here you'll find news related to NFT's you can even connect your own wallet and make new friends interested in the same topics as you. Pretty cool, huh? We invite you to check for yourself ;) </p>
        
    </section>
  
    <section class="dash_sec" id="discover">
        <h2>Discover</h2>
        <p> Discover the newest NFT collections and find what suits you and your crypto preferences.</p>
  
    </section>
  
    <section class="dash_sec" id="devteam">
        <h2> Dev Team </h2>
        <p>Meet the hardworking developers of this web-app. If you encounter any issues or could even like to have just a friendly chat with them, give answers to your uncertainities about NFT's and/or how the site works, contact them at the email adresses provided below our names.</p>
        <ul id="devteam_list">
  
            <li class="dev">
              <a href="https://github.com/GPrendi30" target="_blank">
                <img src="images/gerald.jpeg" alt="">
                <h3 class="dev_name">Gerald Prendi</h3>
              </a>
            </li>
  
            <li class="dev">
              <a href="https://github.com/dipiee" target="_blank">
                <img src="images/enrico.png" alt="">
                <h3 class="dev_name">Enrico Di Pietro</h3>
              </a>
            </li>
            
            <li class="dev">
              <a href="https://github.com/Solargi" target="_blank">
                <img src="images/giacomo.jpeg" alt="">
                <h3 class="dev_name">Giacomo Solaro</h3>
              </a>
            </li>
  
            <li class="dev">
              <a href="https://github.com/Vitto28" target="_blank">
                <img src="images/vittoria.png" alt="">
                <h3 class="dev_name">Vittoria Scocco</h3>
              </a>
            </li>
  
            <li class="dev">
              <a href="https://github.com/paolaguma" target="_blank">
                <img src="images/paola.png" alt="">
                <h3 class="dev_name">Paola Guma</h3>
              </a>
            </li>
  
        </ul>
        
    </section>
  
  </section>