<h2> Exchange page placeholder </h2>
<section class="assets">
    <section class="Currency">
        <h1> <%= amount1 %> <%= currency1 %> = <%= amount2 %> <%= currency2 %> </h1>
        <section class="price_graph"> Insert Graph <section>
    </section>

</section>