<section id="title">
    <img id="logo" src="images/logo.svg" alt="logo">
    <h1>S.A.N.D</h1>
</section>

<section id="buttons">
    <div id="darkmode">
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div id="user_buttons">
        <section id="wallet">
            <div class="header-icon" id="connected_indicator"></div>
            <button class="grow_hover header-icon" id="wallet"></button>
        </section>
        <button class="grow_hover header-icon" id="user"></button>
    </div>

</section>