<div class="form-container" id="signup">

    <section id="title">
        <h1>Sign up</h1>
        <h2>Create a new account to continue to S.A.N.D</h2>
    </section>

    <form method="POST" action="/signup" id="signupForm" enctype="multipart/form-data">
        <label for="username">
            <h3>Username</h3>
            <input type="text" name="username" required>
        </label>

        <label for="name">
            <h3>Name</h3>
            <input type="text" name="name" required>
        </label>

        <label for="surname">
            <h3>Surname</h3>
            <input type="text" name="surname" required>
        </label>

        <label for="email">
            <h3>Email</h3>
            <input type="email" name="email" required>
        </label>

        <label for="password">
            <h3>Password</h3>
            <input type="password" name="password" required>
        </label>

        <label for="retype_password">
            <h3>Retype Password</h3>
            <input type="password" name="retype_password" required>
        </label>

        <input class="grow_hover" type="submit" value="Sign up">
    </form>

    <section id="alternative">
        <h3>Already have an account?</h3>
        <form method="GET" id="loginRedirect" action="/login">
            <input class="grow_hover" type="submit" value="Login">
        </form>
    </section>

</div>