article.discover_section {
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover_section #no_collections {
    font-size: 25px;
}

article.discover_section > h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-bottom: 10px;
    width: fit-content;
}

ul.discover_lineup {
    list-style-type: none;
    background: linear-gradient(45deg, var(--deepblue) 0%, var(--pink) 30%, var(--lightblue));
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
}

.discover_item {
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 200px;
    flex-grow: 0.5;
    overflow: hidden;
}

.discover_item a {
    text-decoration: none;
}

.discover_item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.discover_item h1 {
    font-size: 1.4em;
    text-align: center;
    margin: 5px 0px;
}

/* On Hover */

.discover_item:hover {
    transform: scale(1.05) !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 45px;
}