/* Expansion of style.css */


/* TODO: Add color variables */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0px !important;
    font-family: sans-serif;
    color: var(--black);
}

a {
    color: var(--black) !important;
}

:root {
    --deepblue: #3B54BA;
    --blue: #5889C5;
    --lightblue: #90C1DA;
    --lightpink: #A79DDC;
    --pink:#9A71C1;
    --purple: #6859BA;
    --white: #f0f0f0;
    --black: #2d2d2d;
}

#header,
#navbar,
#aside,
#footer {
    border: 1px solid black;
    z-index: 10;
}

/* Remove overlapping borders */

#navbar, #aside, #header {
    border-top: 0;
}

#navbar, #footer, #header {
    border-left: 0;
}

#aside, #header, #footer {
    border-right: 0;
}

#footer, #navbar, #aside {
    border-bottom: 0;
}


/* Page Layout */

body {
    background-color: #CFCCD6;
    display: grid;
    grid-template-columns: auto 1fr 185px;
    grid-template-rows: 75px 1fr 70px;
    grid-template-areas: 
    "header header  header" 
    "nav    content aside" 
    "footer footer  footer";
}


/* For testing purposes
TODO: Delete/modify once all views have been properly implemented
*/

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    width: 100%;
}

main {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For testing purposes
TODO: Delete/modify once all views have been properly implemented
*/


/* Buttons */

button:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border-style: none;
    border-radius: 500px;
    background-size: 75% !important;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.button {
    background-color: var(--white);
    border-style: none;
    font-weight: bolder;
    min-width: 80px;
    width: fit-content;
    border-radius: 15px;
    padding: 0px 20px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 10px, rgba(0, 0, 0, 0.03) 0px 6px 6px;
    transition: all .1s ease-out !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.button:hover {
    transform: scale(1.07) !important;
    cursor: pointer;
}


/* Float on Hover */

.grow_hover {
    transition: all .125s ease-out;
}

.grow_hover:hover {
    transform: scale(1.2);
}


/* Box Shadow */

.shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}