#settings_container {
    width: 100%;
    height: fit-content !important;
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

div#settings {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    min-width: 700px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

div#settings .button {
    background-color: var(--lightpink);
    color: var(--black);
}

div#settings > section {
    width: 100%;
}

div#settings > h1 {
    margin-top: 50px;
}

div#settings .input {
    border-style: none;
    border-radius: 5px;
}

/* Profile Picture Area */
section#profile_picture {
    flex-direction: row !important;
    justify-content: center;
    gap: 100px;
}

section#profile_picture > #picture {
    max-width: 250px;
    background-color: white;
    border-radius: 500px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 6px 6px;
}

section#profile_picture label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_info label h3, #password label h3 {
    color: var(--black);
    font-weight: 900;
    letter-spacing: 0.5px;
}

section#profile_picture > form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 600px;
}

/* Setting Section General Structure */
section.settings_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 0px;
}

section.settings_section > div {
    width: 100%;
    padding: 0px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

section.settings_section h2 {
    letter-spacing: 0.5px;
    font-weight: normal;
    font-size: 28px;
}

section.settings_section h3 {
    font-weight: normal;
}

section.settings_section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: fit-content;
}

section.settings_section form > * {
    display: flex;
    flex-direction: column;
}

section.settings_section#user_info form > label > input:last-child {
    margin-top: 10px;
    align-self: flex-end;
}

section.settings_section form .input {
    height: 40px;
    width: 350px;
    margin-top: 5px;
    font-size: 16px;
}